
bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
.DS_Store
appsettings.json
local.settings.json

node_modules
HttpTriggerJS/debugcommand.txt
conf